# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Kaggle
/kaggle/

# Datasets
data/
*.jpg
*.jpeg
*.mp4

# Model weights
*.pt
*.pth
*.onnx

# Experiment outputs
runs/
wandb/

# Keep selected repository visualizations
!outputs/
!outputs/*.png

# OS
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
